<main id="main" class="main">
    <% if (messages.Success) { %>
      <div class="alert alert-success" show-alert data-time="4000">
        <%= messages.Success %>
        <span close-alert style="margin-left: 25px; cursor: pointer;">X</span>
      </div>
    <% } %>

    <% if (messages.error) { %>
      <div class="alert alert-danger" show-alert data-time="4000">
        <%= messages.error %>
        <span close-alert style="margin-left: 25px; cursor: pointer;">X</span>
      </div>
    <% } %>
    <div class="pagetitle">
      <h1>Data Shift</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="<%= prefixAdmin %>/Account%>">Home</a></li>
          <li class="breadcrumb-item active">Shift</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="add-user" style="margin-top: 30px;  margin-bottom: 25px;">
        <a data-bs-toggle="modal" data-bs-target="#modal"  class="btn btn-primary Add_SHIFT">
          ADD SHIFT </a>
          <%- include('../../partials/CreatShift.ejs')%>
      </div>
      <div class="row">
        
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body table-responsive">
              <table class="table datatable">
                <thead>
                  <tr>
                    <th><b>MA Ca</b></th>
                    <th><b>Ten Ca</b></th>
                    <th><b>TimeIn</b></th>
                    <th><b>TimeOut</b></th>
                    <th><b>DayCreat</b></th>
                    <th><b>Action</b></th>
                  </tr>
                </thead>
                <tbody>
                  <% QLCa.forEach(function(item) { %>
                    <tr>
                      <td><%= item.MaC %></td>
                      <td><%= item.TenC %></td>
                      <td>
                        <%= item.timeIn %>
                      </td>
                      <td>
                        <%= item.timeOut %>
                      </td>
                      <td><%= item && item.DayCreate instanceof Date ? item.DayCreate.toISOString().split('T')[0] : '' %></td>
                      <td class="Hanh-dong">
                        <a data-bs-toggle="modal" data-bs-target="#modal<%= item.MaC %>" fix class="btn btn-warning "
                          data-id="<%=item.MaC %>"><i class="bi bi-gear-wide"></i></a>
                          <%- include('../../partials/editShift.ejs', { staff: item }) %>
                        <button type="button" data-id="<%= item.MaC %>" button-deleted class="btn btn-danger"><i class="bi bi-trash"></i></button>
                      </td>
                    </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <form action="" method="post" id="form-deleted-button" data-path="<%= prefixAdmin %>/Shift/deleted/"></form>
  </main>
  